aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
dialogflow==1.1.0
google-api-core==1.26.3
google-auth==1.28.0
googleapis-common-protos==1.53.0
grpcio==1.36.1
idna==2.10
lxml==4.6.3
multidict==5.1.0
multitasking==0.0.9
numpy==1.20.2
packaging==20.9
pandas==1.2.3
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.16.0
pytz==2021.1
requests==2.25.1
rsa==4.7.2
six==1.15.0
twitchio==1.2.2
typing-extensions==3.7.4.3
urllib3==1.26.4
websockets==8.1
yarl==1.6.3
yfinance==0.1.59
